# Custom Ignores
data/
env/
Thetis/debug/
Thetis/performance-eval/

evaluation/wikipages/evaluation_dataframes/
evaluation/wikipages/TURL_evaluation/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
**/__pycache__/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Custom Ignore Paths

.vscode/
.idea/

data/index/
data/search/
data/kg/dbpedia/files/
data/kg/dbpedia/files_wikitables/

data/kg_old/
data/kg/dbpedia/neo4j-server/
data/index_old/
data/tables_old/
data/tables/wikitables/files/
data/queries/test_queries/
data/queries/www18_wikitables/
data/queries/wikipages/queries/
data/queries/wikipages/groundtruth_generation/wikipage_relevance_scores/
data/queries/wikitables_table_queries/
data/queries/ppr_approximation/queries/
data/queries/ppr_approximation/figures/
data/tables/gittables/tables/


table_analysis/env/
Thetis/eval/data-2021ZB/
Thetis/lsh-eval/

Neo4j-ParticleFiltering/

data/tables/gittables/abstraction_tables/
data/tables/gittables/dwarf_tables/
data/tables/gittables/gittables_parsed/
data/tables/gittables/tables/
data/tables/gittables/figures/

data/tables/wikipages/tables/
data/tables/wikipages/wikipages_dataset/
data/tables/wikipages/wikipages_expanded_dataset/
data/tables/wikipages/expanded_dataset_query_tables/
data/tables/wikipages/wikipages_expanded_dataset_strubert_format/
data/tables/wikipages/wikipages_test_dataset/




evaluation/wikipages/eval_over_labeled_ground_truth/
evaluation/wikipages/eval_over_search_output/
evaluation/wikipages/figures/

Web-Table-Retrieval-Benchmark/data/
Web-Table-Retrieval-Benchmark/queries/
Web-Table-Retrieval-Benchmark/tables/
Web-Table-Retrieval-Benchmark/elasticsearch-5.3.3


# Custom Paths/Files to keep
!data/index/wikitables/.gitkeep