<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Table Search Demo</title>
</head>


<body style="background-color:#f9f2dc;">

    <h1 style="text-align: center">Table Search Demo</h1>

    <div class="container">
        <br><br>
    
        <form action="/query_submit", method="POST", class="query-form">
            <label for="query">Input your search query below:</label><br>
            <textarea style="font-size: 18px;" name="query" id="query" rows="10" spellcheck="false">{{queryString}}</textarea>
            <br> <br>

            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-primary btn-xl" type="submit" value="Submit">
                </div>
            </div>

        </form>

        <br>
            {{#invalidEntities}}
            <div class="alert alert-danger" role="alert">
                <b>The following specified entities do no match to any known entity in the knowledge graph used!</b>
                <br>
                {{#invalidEntitiesList}}
                    <li>{{.}}</li>
                {{/invalidEntitiesList}}
            </div>
        {{/invalidEntities}}

    
    </div>

    <br><br>
    <div class="container">
        {{#show_table}}

            <table class="table table-hover table-bordered" id="table_scores">
                <thead>
                    <tr>
                        <th class="text-center">Table ID</th>
                        <th class="text-center">Wikipedia Page</th>
                        <th class="text-center">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {{#tableToScore}}
                    <tr>
                        <td class="tableID">{{tableID}}</td>
                        <td class="wikipediaPage"><a href={{tableURL}}>{{pgTitle}}</a></td>
                        <td class="score">{{score}}</td>
                    </tr>
                    {{/tableToScore}}
                </tbody>
            </table>

        {{/show_table}}
    </div>

    
    
</body>

