/* query-form
{
    display: inline-block;

} */

textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.btn-xl {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.table-bordered td{
    border: 2px solid #a4a9ad;
    font-size: large;
}

.table-bordered th{
    border: 2px solid #a4a9ad;
    border-bottom: 2px solid #a4a9ad;
    font-size: large;
}

.table thead th{
    vertical-align: bottom;
    border-bottom: 2px solid #a4a9ad;
}